<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 Maxcode B.V.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="md.maxcode.si.persistence.FileTypesMapper">

    <!--<cache/>-->

    <update id="updateType" parameterType="md.maxcode.si.domain.FileType">
        UPDATE file_types

        SET
        name = #{name},
        identifier = #{identifier}

        WHERE id = #{id}
    </update>

    <insert id="insertType" parameterType="string"
            useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO file_types
        (name, identifier)
        VALUES
        (#{name}, #{identifier})
    </insert>

    <delete id="deleteType">
        DELETE FROM file_types
        WHERE id = #{id}
    </delete>

    <resultMap id="FileTypeMap" type="md.maxcode.si.domain.FileType">
        <id property="id" column="fileType_id"/>
        <result property="name" column="fileType_name"/>
        <result property="addedTime" column="fileType_addedTime"/>
        <result property="identifier" column="fileType_identifier"/>
        <collection property="attachedFiles"
                    column="attachments"
                    ofType="md.maxcode.si.domain.UserFile"
                    javaType="java.util.ArrayList" resultMap="SchemaFileMap"/>
    </resultMap>

    <resultMap id="SchemaFileMap" type="md.maxcode.si.domain.SchemaFile">
        <id property="id" column="file_id"/>
        <result property="addedTime" column="file_addedTime"/>
        <result property="name" column="file_name"/>
        <result property="fileName" column="fileName"/>
        <result property="userId" column="userId"/>
        <result property="typeId" column="typeId"/>
        <result property="extension" column="extension"/>
        <result property="marked" column="marked"/>
    </resultMap>

    <select id="getAllWithTheirAttachments" resultMap="FileTypeMap">
        SELECT
        file_types.id as fileType_id ,
        file_types.name as fileType_name,
        file_types.addedTime as fileType_addedTime,
        file_types.identifier as fileType_identifier,

        schema_files.id as file_id,
        schema_files.name as file_name,
        schema_files.addedTime as file_addedTime,
        fileName, userId, typeId, extension, marked
        FROM file_types

        LEFT OUTER JOIN schema_files
        ON schema_files.typeId = file_types.id

        ORDER BY file_types.id ASC
    </select>

    <select id="getByIdWithAttachments" resultMap="FileTypeMap"
            parameterType="long">
        SELECT
        file_types.id as fileType_id ,
        file_types.name as fileType_name,
        file_types.addedTime as fileType_addedTime,
        file_types.identifier as fileType_identifier,

        schema_files.id as file_id,
        schema_files.name as file_name,
        schema_files.addedTime as file_addedTime,
        fileName, userId, typeId, extension, marked

        FROM file_types

        LEFT OUTER JOIN schema_files
        ON schema_files.typeId = file_types.id

        WHERE file_types.id = #{id}
    </select>

</mapper>
