<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 Maxcode B.V.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="md.maxcode.si.persistence.UserFileMapper">

    <cache/>

    <insert id="insertFile" parameterType="md.maxcode.si.domain.UserFile"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user_files

        (name,
        fileName,
        size,
        userId,
        typeId,
        extension,
        validated,
        received_metadataId,
        validationInfo)

        VALUES

        (#{name},
        #{fileName},
        #{size},
        #{userId},
        #{typeId},
        #{extension},
        #{validated},
        #{received_metadataId},
        #{validationInfo})
    </insert>

    <update id="updateFile" parameterType="md.maxcode.si.domain.UserFile">
        UPDATE user_files
        SET
        typeId = #{typeId}
        WHERE id = #{id}
    </update>

    <delete id="deleteFile">
        DELETE FROM user_files
        WHERE id = #{id}
    </delete>

    <delete id="deleteFiles" parameterType="arraylist">
        DELETE FROM user_files
        <where>
            id IN
            <foreach collection="list" item="id" index="index"
                     open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>


    <resultMap id="FileTypeMap" type="md.maxcode.si.domain.FileType">
        <id property="id" column="fileType_id"/>
        <result property="name" column="fileType_name"/>
        <result property="addedTime" column="fileType_addedTime"/>
        <result property="identifier" column="fileType_identifier"/>
        <collection property="attachedFiles"
                    column="attachments"
                    ofType="md.maxcode.si.domain.UserFile"
                    javaType="java.util.ArrayList" resultMap="SchemaFileMap"/>
    </resultMap>

    <resultMap id="SchemaFileMap" type="md.maxcode.si.domain.SchemaFile">
        <id property="id" column="file_id"/>
        <result property="addedTime" column="file_addedTime"/>
        <result property="name" column="file_name"/>
        <result property="fileName" column="fileName"/>
        <result property="userId" column="userId"/>
        <result property="typeId" column="typeId"/>
        <result property="extension" column="extension"/>
        <result property="marked" column="marked"/>
    </resultMap>

    <select id="getAllWithTheirAttachments" resultMap="FileTypeMap">
        SELECT
        file_types.id as fileType_id ,
        file_types.name as fileType_name,
        file_types.addedTime as fileType_addedTime,
        file_types.identifier as fileType_identifier,

        schema_files.id as file_id,
        schema_files.name as file_name,
        schema_files.addedTime as file_addedTime,
        fileName, userId, typeId, extension, marked
        FROM file_types

        LEFT OUTER JOIN schema_files
        ON schema_files.typeId = file_types.id

        ORDER BY file_types.id ASC
    </select>


</mapper>
